 run = "npm run dev"

entrypoint = "server/server.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
NODE_ENV = "development"

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = "npm run start"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3001
exposeLocalhost = true

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]
